## Tipos primitivos
***

No javascript temos alguns tipos primitivos, ele são tipos que são passados por valor.

Não se pode começar variáveis com números, e não pode ter caracteres especiais só _ e $

In [1]:
// Verificar o tipo de uma variável
let x = 10
console.log(typeof x)

number

In [2]:
// String
let minhaString1 = "Minha 'string' com aspas duplas";
console.log(minhaString1);

let minhaString2 = 'Minha "string" com aspas simples';
console.log(minhaString2);

// Escape de caracteres
let minhaString3 = "Minha \"string\" com escape de caracteres";
console.log(minhaString3);

// Quebra de string
let minhaString4 = "Quebra de String, " +
                   "Proxima string";
console.log(minhaString4);

// Interpolação de string
let minhaString5 = `${minhaString1} com interpolação de string!`;
console.log(minhaString5)

// Concatenação de string
let idade = 40
let mensagem = "Eu possuo " + idade + " anos";
console.log(mensagem);

Minha 'string' com aspas duplas
Minha "string" com aspas simples
Minha "string" com escape de caracteres
Quebra de String, Proxima string
Minha 'string' com aspas duplas com interpolação de string!
Eu possuo 40 anos

In [3]:
// Number (inteiro, floats)
const v1 = 10;
const v2 = 1.1;
console.log(`O tipo de n1 é ${typeof v1} e seu valor é ${v1}`);
console.log(`O tipo de n1 é ${typeof v2} e seu valor é ${v2}`);

O tipo de n1 é number e seu valor é 10
O tipo de n1 é number e seu valor é 1.1

In [4]:
// Boolean
const isValid = true;
console.log(`O tipo de isValid é ${typeof isValid} e seu valor é ${isValid}`);
console.log(`O tipo de isValid é ${typeof isValid} e seu valor oposto é ${!isValid}`);

O tipo de isValid é boolean e seu valor é true
O tipo de isValid é boolean e seu valor oposto é false

In [5]:
// undefined, null
let notExist = undefined; // Foi declarada mas não foi atribuido nenhum valor a ela.
console.log(typeof notExist, notExist);
notExist = 10; // Agora passei o valor para ela.
console.log(typeof notExist, notExist);
let nulo = null; // Essa variável não tem nenhum valor.
console.log(typeof nulo, nulo);

undefined undefined
number 10
object null

### Conversão de tipos
***

Como podemos converter um tipo para o outro em javascript.

In [6]:
// Quando eu multiplico um inteiro por uma string que representa um numero o JS
// faz uma conversão implicita, ou seja, por baixo dos panos ele faz a conversão
// da string para numero, não funciona para o sinal de + pois ele é usado para concatenação.
let n1 = 10;
let n2 = "5";
console.log(typeof n1, typeof n2);
console.log(n1 * n2);
console.log(n1 + n2);

number string
50
105

In [7]:
// parseInt
console.log(typeof n2, n2);
n2 = parseInt(n2)
console.log(typeof n2, n2);

string 5
number 5

In [8]:
// parseFloat
let n3 = "10.44";
console.log(typeof n3, n3);
n3 = parseFloat(n3);
console.log(typeof n3, n3);

string 10.44
number 10.44

In [9]:
// toString
console.log(typeof n1, n1);
n1 = n1.toString();
console.log(typeof n1, n1);

number 10
string 10

In [10]:
// Number (não converte se tiver algum char ao redor do numero. Ex: 12as)
n3 = "10.44";
console.log(typeof n3, n3);
n3 = Number(n3);
console.log(typeof n3, n3);

string 10.44
number 10.44

In [11]:
// Os parsers descarta strings a mais e pego a primeira ocorrencia de numero
let n4 = "13.23ade2df293fdq03";
console.log(typeof n4, n4);
n4 = parseFloat(n4);
console.log(typeof n4, n4);

string 13.23ade2df293fdq03
number 13.23

In [12]:
// Se eu tiver letras antes dos numeros retorna NaN (not a number)
let n5 = "as12.3433md3209";
console.log(typeof n5, n5);
n5 = parseFloat(n5);
console.log(typeof n5, n5);

string as12.3433md3209
number NaN

### Tipos numericos com bases diferentes
***

In [13]:
// Conversão para string com outras bases
// Decimais -> 0 - 9 = 0,1,2,3,4,5,6,7,8,9
let n6 = 10;
console.log(typeof n6, n6);
n6 = n6.toString(10);
console.log(typeof n6, n6);

number 10
string 10

In [14]:
// Hexadecimais -> 0 - F(15) = 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F
n6 = 10;
n6 = n6.toString(16);
console.log(typeof n6, n6);

string a

In [15]:
// Binarios -> 0 - 1 = 0,1
n6 = 10;
n6 = n6.toString(2);
console.log(typeof n6, n6);

string 1010